 label{
	font-size:12px;
	padding-left:2px;
	color:#000;
	}
	
img {
	display: block;
    margin-left: auto;
    margin-right: auto 
	}

fieldset{
	border: 1px solid #aaa;
	padding-bottom:20px;
	width:250px;
	margin:auto;
	}

legend{
	text-align: left;
	margin:10px;
	font-size:12px;
	color:#555;
	}

#search{
	width:200px;
	border: solid 1px #aaa;
	font-size: 13px;
	padding: 0;
	padding-left: 0.2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background-image:url('../lupe.png');
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:20px;
	margin-bottom:15px;
}
	
#search:focus,#search:active{
	border: solid 1px #ffa800;
	}
#search:hover{
	border: solid 1px #ffa800;
	}
		
#go, #fulltext {
	width:100px;
	height:25px;
	border: solid 1px #aaa;
	border-radius:5px;
	box-shadow: 2px 2px 5px #888888;
	font-weight:bold;
	color:#555;
}
#go:hover, #fulltext:hover {
	border: solid 1px #ffa800;
	box-shadow: 4px 4px 5px #ffa800;
}
		
